.RightSide {
  display: flex;
  flex-direction: column;
  /* padding-top: 1rem; */
  width: 95%;
  justify-content: space-evenly;
  border-left: 1px solid black;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .RightSide {
    justify-content: flex-start;
    margin-top: 3rem;
  }

  .customer {
    width: 80%;

    margin: 0 auto;
    border-bottom: 1px solid black;
  }
}

@media screen and (max-width: 768px) {
  .customer {
    width: 90%;

    margin: 0 auto;
    border-bottom: none;
  }

  .RightSide {
    width: 100%;
    margin-top: 0;
  }
  .RightSide > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
